@font-face {
    font-family: 'ralewaylight';
    src: url('../img/raleway-light-webfont.eot');
    src: url('../img/raleway-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../img/raleway-light-webfont.woff2') format('woff2'),
         url('../img/raleway-light-webfont.woff') format('woff'),
         url('../img/raleway-light-webfont.ttf') format('truetype'),
         url('../img/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.jumbotron{
background:#16262c;
padding:100px 0;
}

.jumbotron h1{
font-weight:normal;
color:#91a7af;
font-family: 'ralewaylight';
}

.jumbotron p{
font-weight:normal;
color:#71868e;
font-size:27px;
font-family: 'ralewaylight';
}

.demo{
text-align:center;
}
a:hover, a:focus{
text-decoration:none;
outline:none;
}
.demo .row{
margin-bottom:50px;
}
.demo h1{
font-size:62px;
font-family: 'ralewaylight';
margin-bottom:50px;
}
.demo img{
margin-bottom:20px;
border:1px solid #e4e4e4;
}
.demo p{
font-size:20px;
font-family: 'ralewaylight';
}

footer{
background:#23282d;
color:#f4f4f4;
padding:25px 0;
text-align:center;
}